nav.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
            a.navbar-brand(href='/') 接口模拟器
        .navbar-right
            ul.nav.navbar-nav
                li(class=(page=='developer'?'active':''))
                    a(href='/developer') 开发人员表
                li(class=(page=='interface'?'active':''))
                    a(href='/interface') 接口列表
                li(class=(page=='example'?'active':''))
                    a(href='/example') 返回样例编辑
                li(class=(page=='proxy_server'?'active':''))
                    a(href='/proxy_server') 中转服务器
                li(class=(page=='other'?'dropdown active':'dropdown'))
                    a#myTabDrop1.dropdown-toggle(href='#', data-toggle='dropdown')
                        | 其他设置
                        b.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#') 测试用户
                        li
                            a(href='#') 角色权限
                        li
                            a(href='/status') 状态码管理
                        li
                            a(href='/intfc_class') 接口分类管理