html
    head
        title 接口模拟器-开发者配置
        include ./public/common.jade
    body
-     var page='developer'
        include ./public/header.jade
        .container
            #toolbar.btn-group
                btn.btn.btn-primary(onclick='add()') 添加
            table#data_list(data-toggle='table', data-toolbar='#toolbar', data-url='/api/developer')
                thead
                    tr
                        th(data-field='name') 姓名
                        th(data-field='addr') 地址
                        th(data-field='port') 端口号
                        th(data-formatter='getButton') 操作
        #modal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog
                form.form-horizontal.modal-content(role='form')
                    .modal-body
                        input#id(style='display:none', name='id')
                        .form-group
                            label.control-label.col-sm-2(for='name') 姓名
                            .col-sm-10
                                input#name.form-control(type='text', name='name')
                        .form-group
                            label.control-label.col-sm-2(for='addr') 地址
                            .col-sm-10
                                input#addr.form-control(type='text', name='addr')
                        .form-group
                            label.control-label.col-sm-2(for='port') 端口号
                            .col-sm-10
                                input#port.form-control(type='number', name='port')
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='button', onclick='upload()') 确定
    script(src='/js/developer.js')
