html
    head
        title 接口列表
        include ./public/common.jade
        link(rel='stylesheet', href='/css/interface.css')
        link(rel="stylesheet", href="public/css/bootstrap-switch.min.css")
        script(src="/public/js/vue-select.js")
        script(src="/public/js/bootstrap-switch.min.js")
        //- script(src="/public/i18n/zh-CN.js")
        script(src="/public/js/mindmup-editabletable.js")
    body
-     var page='interface'
        include ./public/header.jade
        .container
            #toolbar.btn-group
                btn.btn.btn-primary(onclick='add()') 添加
            table#data_list(data-toggle='table', data-toolbar='#toolbar', data-url='/api/interface')
                thead
                    tr
                        th(data-field="name") 接口名
                        th(data-field="router") 接口地址
                        th(data-field="developer.name") 开发者
                        th(data-formatter='getButton') 操作
                tbody
                     tr
                        td 测试
                        td /v1/test
                        td 老子
                        td
                            .function-button
                                btn.btn.btn-warning(onclick='add()') 添加
                                btn.btn.btn-primary(onclick='add()') 修改
                                btn.btn.btn-primary.return-button(onclick='add()') 返回样例   
        include ./modal/interface.jade
        #modal_sample.modal.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-body
                        .panel.panel-default(v-for="sample in sample_list")
                            .panel-heading
                                h3.panel-title.form-inline
                                    input.switch(type="checkbox" v-model='sample.inUse')
                                    span.name {{sample.name}}
                                    button.btn.btn-warning 删除
                            form.panel-body.form-horizontal
                                .form-group
                                    label.control-label.col-sm-2(for='code') 状态码
                                    .col-sm-10
                                        input.form-control(type='number', name='code' v-model='sample.code')
                                .form-group
                                    label.control-label.col-sm-2(for='cookies') 设置cookies
                                    .col-sm-10
                                        textarea.form-control(name="cookies", v-model='sample.cookies' cols="30", rows="10")
                                .form-group
                                    label.control-label.col-sm-2(for='content') 返回内容
                                    .col-sm-10
                                        textarea.form-control(name='content', v-model='sample.content' cols="30", rows="10")     
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 取消
                        button.btn.btn-primary(type='button', @click='upload') 确定
            
    script(src='/js/interface.js')