#req_info span:first-of-type{
    padding-right:0 
}

#req_info span:last-of-type{
    padding-left:0 
}

#req_info table{
    margin-bottom: 0
}

#req_info button{
    width: calc(100% - 30px);
    margin: 0 15px;
}

#res_info span:first-of-type{
    padding-right:0 
}

#res_info span:last-of-type{
    padding-left:0 
}

#res_info table{
    margin-bottom: 0
}

#res_info button{
    width: calc(100% - 30px);
    margin: 0 15px;
}

#modal_sample form{
    display: none;
}

th:nth-child(1){
    width: 20%;
}

th:nth-child(2){
    width: 25%;
}

th:nth-child(3){
    width: 15%;
}

th:nth-child(4){
    width: 40%;
}

#developerSelect{
    border: solid 1px rgb(200,200,200);
    border-radius: 5px;
    width:200px;
    height:34px;
    margin-left: 4px;
    cursor: pointer;
    transition:0.5s;
    outline:none;
}
#developerSelect:hover{
    border-color:rgb(102,175,233);
}
#developerSelect option{
    font-size:16px;
    color:rgb(80,80,80);
    background-color: rgb(255,255,255);
}
#showAll{
    font-weight: bold;
}
select::-ms-expand { /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
     display: none; 
}
#searchWindow{
    width:200px;
    height:34px;
    border: solid 1px rgb(200,200,200);
    border-radius: 5px;
    cursor: pointer;
    transition:0.5s;
    outline:none;
    position: absolute;
    margin-left:4px;
    color:rgb(80,80,80);
}
#searchWindow:hover{
    border-color:rgb(102,175,233);
}